* {
    margin: 0;
    padding: 0;
}
html {
    min-height: 100%;
    position: relative;
  }
body {
    font-family: 'Lato', sans-serif;
    background-color: #fffffa;
    margin: 0;
    margin-bottom: 80px;
}
footer{
    grid-area: footer;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    height: 80px;
    width: 100%;
    line-height: 15px;
    background-color: #7d341e;
}
.principal {
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "footer"
    ;
    grid-gap: 10px;
}
header {
    grid-area: header;
}
main {
    grid-area: content;
}
.cabezal {
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.productoUno{
    grid-area: uno;
}
.productoDos{
    grid-area: dos;

}
.productoTres{
    grid-area: tres;
    
}
 .redes li{
    list-style-type: none;
  
}
.logo {
    margin: 5%;
    width: 10%;
    border-radius: 100px;
    animation: rotation 8s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.secProductos img{
    height: 200px;
}
h2 {
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    color: #f19444;
}
.formulario {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    justify-content: space-around;
    margin: 0 auto;
}

.formulario .item input {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    border-color:#f19444;
    border-width: thin;
    padding: 3px;
    
}
#txtconsulta {
    height: 100px;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn button {
    width: 100px;
    height: 30px;
    border-radius:5px;
    border-style: none;
    background-color: #f19444;
    transition: all 0.5s;
}
.btn button:hover {
    box-shadow:5px 10px 18px grey;
    background-color: #7d341e;
    color: white;
}
.secRecetas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.imgReceta {
    width: 300px;
    transition: all 1s;
}
.imgReceta:hover {
    filter: drop-shadow(5px 5px 5px grey);

}
.secProductos{
    display: grid;
    width: 70%;
    grid-template-areas: "uno dos tres";
    justify-content:space-around;
    grid-gap:10px;
}
.productosListado{
    display: flex;
    justify-content: center;
}
.producto img{
    width: 200px;
    transition: all 1s;
}
.producto img:hover {
    filter: drop-shadow(5px 5px 5px #3a342e);
}
.centrar {
    width: 70%;
    margin: 0px auto;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .nav, .secProductos,.secRecetas{
        display: flex;
        line-height: 1em;
        flex-direction: column;
    }
    footer{
        display: none;
    }
    .carousel {
        display: none;
    }
    .logo{
        width: 5em;
    }
}