* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fffffa;
    height:100%;
}
.principal {
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "footer"
    ;
    grid-gap: 10px;
}
header {
    grid-area: header;
}
main {
    grid-area: content;
}
.cabezal {
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav {
    width: 40%;
}
.productoUno{
    grid-area: uno;
}
.productoDos{
    grid-area: dos;

}
.productoTres{
    grid-area: tres;
    
}
.menu {
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.menu li, .redes li{
    list-style-type: none;
  
}
.menu li a {
    text-decoration: none;
    color:#f19444
}
.menu li a:hover {
    font-weight: 700;
    color: #7d341e;
}
.logo {
    margin: 5%;
    width: 10%;
    border-radius: 100px;
}
.banner {
    width: 100%;
    height: 300px;
    background-color: #8daa9d;
}
section{
    width: 100%;
}
footer{
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #7d341e;
    height: 80px;
    position: absolute;
    bottom: 0%;
    width: 100%;
    
}
footer p,footer a {
    color: #fffffa;
    padding-left: 5px;

}
.secProductos img{
    height: 200px;
}
footer .redes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 20%;
    position: absolute;
    right: 5%;
}

h2 {
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    color: #f19444;
}
.formulario {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    justify-content: space-around;
    margin: 0 auto;
}

.formulario .item input {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    border-color:#f19444;
    border-width: thin;
    padding: 3px;
    
}
#txtconsulta {
    height: 100px;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn button {
    width: 100px;
    height: 30px;
    border-radius:5px;
    border-style: none;
    background-color: #f19444;
}
.btn:hover {
    background-color: #7d341e;
    color: white;
}

.secRecetas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.imgReceta {
    width: 300px;
}
.secProductos{
    display: grid;
    width: 70%;
    grid-template-areas: "uno dos tres";
    justify-content:space-around;
    grid-gap:10px;
}
.productosListado{
    display: flex;
    justify-content: center;
}
.producto img{
    width: 200px;
}
.centrar {
    width: 70%;
    margin: 0px auto;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .menu, .secProductos,.secRecetas{
        display: flex;
        flex-direction: column;
    }
    .banner {
        display: none;
    }
    .logo{
        width: 5em;
    }
}